RewriteEngine On


# убирает версию, и заодно ставит переменную что файл версионный
RewriteRule ^(.*\.)v[0-9.]+\.(css|js|gif|png|jpg)$ $1$2 [L,E=VERSIONED_FILE:1]
# жестко кешируем версионные файлы
#Header add "Expires" "Mon, 28 Jul 2014 23:30:00 GMT" env=VERSIONED_FILE
#Header add "Cache-Control" "max-age=315360000" env=VERSIONED_FILE